#navbarDiv {
  display: flex;
  gap: 15px;
  background: rgba(173, 173, 173, 0.507);
  backdrop-filter: saturate(180%) blur(18px);
  height: 28px;
}
#navbarDiv > div {
  padding-top: 1.5px;
  cursor: pointer;
  box-sizing: border-box;
}
#navbarDiv > div:nth-child(1) {
  margin-top: 0;
  padding-top: 0;
  padding-left: 15px;
}
#navbarDiv > div:nth-child(2) > p {
  font-weight: 600;
}
#navbarDiv > div:nth-child(1) > img {
  width: 18px;
}
#navbarDiv > div:nth-child(9) {
  margin-left: 44%;
}
#navbarDiv > div:nth-child(9) > img {
  width: 22px;
}
#navbarDiv > div:nth-child(10) > img {
  width: 18px;
}
#navbarDiv > div:nth-child(11) > img {
  width: 15px;
}
